<h2><%= @user.name%>'s Profile</h2>

<body>
<%# Show profile photo if there is one for the user. %>
<%if @user.avatar.attached?%>
  <img src="<%=(url_for(@user.avatar))%>">
<%end%>
<p>
  <button class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Edit your details</a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">List a puppy</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
       <%= render 'form'%>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <%= render 'partials/puppyform'%>
      </div>
    </div>
  </div>
</div>


<h3>Unhappy?</h3>

<p> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>

</body>